<!DOCTYPE html>
<html>
	<head>
		  <title>QuizOfThrones</title>
			  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
			  <%= csrf_meta_tags %>
	</head>

	<body>
		<%= render "layouts/header" %>
			
		<div class='row'>
			<h1 style="font-family:Game-of-Thrones;">QUIZ OF THRONES</h1>
		</div>





		<%= yield %>

		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	</body>
</html>
